nav .brand-logo {
    margin-left: 20px;
    font-size: 40px;
}

.nav-wrapper {
    margin-bottom: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.modal {
    width: 35% !important;
    height: 15% !important;
}

.carousel .carousel-item {
    width: 300px !important;
}

#recipe-image {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.social li {
    padding: 5px;
    font-size: 20px;
    display: inline-block;
}

@media screen and (max-width: 640px) {
    nav .brand-logo {
        font-size: 20px;
    }

    .modal {
        width: 50% !important;
        height: 20% !important;
    }
}

@media screen and (max-width: 500px) {
    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 20px;
    }
}