#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 165px;
}

nav .brand-logo {
    margin-left: 20px;
    font-size: 40px;
}

.nav-wrapper {
    margin-bottom: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    float: right;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.carousel .carousel-item {
    width: 300px !important;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.responsive-img {
    height: 220px !important;
}

.card .card-content {
    padding: 12px;
}

.social li {
    padding: 5px;
    font-size: 20px;
    display: inline-block;
}

.page-footer {
    padding-top: 0px !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 165px;
}

/*----------------------- MEDIA QUERIES */

@media screen and (max-width: 640px) {
    nav .brand-logo {
        font-size: 20px;
    }

    .modal {
        width: 50% !important;
    }
}

@media screen and (max-width: 375px) {
    nav .brand-logo {
        font-size: 18px;
    }

    .modal .modal-content {
        padding: 6px;
    }
}

@media screen and (max-width: 500px) {
    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 20px;
    }
}